
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Template en cours de developpement</title>
    <link rel="stylesheet" href="style.css">
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="align-text: center;">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a  class="nav-link" href="#" onclick="Filter(null)">Tous les joueurs</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" href="#" onclick="Filter(null)"></a>
              </li>
            <li class="nav-item">
              <a name="Neymar" class="nav-link" href="#" onclick="Filter(name)">Neymar junior</a>
            </li>
            <li class="nav-item">
                <a name="Mbappe" class="nav-link" href="#" onclick="Filter(name)">Mbappe kylian</a>
              </li>
              <li class="nav-item">
                <a name="Benlameri" class="nav-link" href="#"  onclick="Filter(name)">Benlameri djamel</a>
              </li>
              <li class="nav-item">
                <a name="Depaye" class="nav-link" href="#"  onclick="Filter(name)">Depaye memphis</a>
              </li>
              <li class="nav-item">
                <a name="Mandanda" class="nav-link" href="#"  onclick="Filter(name)">Mandanda steve</a>
              </li>
              <li class="nav-item">
                <a name="Depaye" class="nav-link" href="#"  onclick="Filter(name)">Payet demetre</a>
              </li>
          </ul>
        </div>
      </nav>
      
<div id='dom'>

</div>
</body>
<script src="items.js"></script>
<script src="script.js"></script>
</html> 
!-->

<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Responsive Navbar with Search Box | CodingNepal</title> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Template en cours de developpement</title>
   <!--<script src="https://d3js.org/d3.v6.min.js"></script>--> 
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <nav>
      <div class="menu-icon">
<span class="fas fa-bars"></span></div>
<div class="logo">
FFF</div>
<div class="nav-items">
  <li><a href="#" name="nulls" onclick="Filter(name)">Tous</a></li>
<li><a href="#" name="joueurs" onclick="Filter(name)">Joueurs</a></li>
<li><a href="#" name="equipes" onclick="Filter(name)">Equipes</a></li>
<li><a href="#" name="arbitres" onclick="Filter(name)">Arbitres</a></li>
<li><a href="#" name="competitions" onclick="Filter(name)">Compétition</a></li>
<li><a href="#" name="stades" onclick="Filter(name)">Stades</a></li>
</div>
<div class="search-icon">
<span class="fas fa-search"></span></div>
<div class="cancel-icon">
<span class="fas fa-times"></span></div>
<form action="#">
        <input type="search" class="search-data" placeholder="Search" required>
        <button type="submit" class="fas fa-search"></button>
      </form>
</nav>
<div class="space">
    
</div>
<div class="footer">
  <p>Les droits sont a salim et sabrina</p>
</div>
  </body>
  <script src="items.js"></script>
  <script src="scriptAnimation.js"></script>
  <script src="script.js"></script>
</html>

    
