
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Template en cours de developpement</title>
    <link rel="stylesheet" href="style.css">
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="align-text: center;">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a  class="nav-link" href="#" onclick="Filter(null)">Tous les joueurs</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" href="#" onclick="Filter(null)"></a>
              </li>
            <li class="nav-item">
              <a name="Neymar" class="nav-link" href="#" onclick="Filter(name)">Neymar junior</a>
            </li>
            <li class="nav-item">
                <a name="Mbappe" class="nav-link" href="#" onclick="Filter(name)">Mbappe kylian</a>
              </li>
              <li class="nav-item">
                <a name="Benlameri" class="nav-link" href="#"  onclick="Filter(name)">Benlameri djamel</a>
              </li>
              <li class="nav-item">
                <a name="Depaye" class="nav-link" href="#"  onclick="Filter(name)">Depaye memphis</a>
              </li>
              <li class="nav-item">
                <a name="Mandanda" class="nav-link" href="#"  onclick="Filter(name)">Mandanda steve</a>
              </li>
              <li class="nav-item">
                <a name="Depaye" class="nav-link" href="#"  onclick="Filter(name)">Payet demetre</a>
              </li>
          </ul>
        </div>
      </nav>
      
<div id='dom'>

</div>
</body>
<script src="items.js"></script>
<script src="script.js"></script>
</html>